<div class="row">
  <div class="col-md-12 logo">
    {{#link-to "main"}}
      <img src="https://s3-us-west-2.amazonaws.com/booz-club/assets/logo.jpg">
    {{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-md-12 main-explanation-container">
    <h1>Find Your Favorite Drink Anywhere</h1>
    <h2>
      Search current inventories of all local retailers
      <br>
      <span>(with up to the minute accuracy)</span>
    </h2>
  </div>
</div>
<br>

{{#if locationFound}}
  {{#if isInUnitedStates}}
    {{#if searching}}
      {{loading-spinner text="searching possible locations..."}}
    {{else}}
      <div class="row">
        <div class="col-md-12 form-group search-box">
          <label>What are you looking for?</label>
          <div class="input-group">
            {{input value=boozType class="form-control" placeholder="ex: Pliny The Elder"}}
            <span class="input-group-btn">
              <button {{action 'beginSearch'}} class="btn btn-default" type="button">Search!</button>
            </span>
          </div>
        </div>
      </div>
    {{/if}}
  {{else}}
    <p>Sorry, this app can only be used in the United States</p>
  {{/if}}
{{else}}
  {{loading-spinner text="searching for location"}}
{{/if}}

{{#if locationFound}}
  {{google-map class="map-container"}}
{{/if}}
